# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\phpProject\WbLaravel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
